.stalk-market {
    .card {
        position: relative;
        // display: grid;
        // grid-template-columns: 1fr auto 2fr;
        // align-items: center;

        .avatar {
            @extend .w2;
            @extend .h2;
            @extend .br-100;
            @extend .bg-primary-2;
        }

        .icon-positive,
        .icon-negative,
        .icon-neutral {
            @extend .mr2;
        }

        .icon-positive {
            @extend .dark-green;
        }

        .icon-negative {
            color: var(--tertiary-1);
        }

        .icon-neutral {
            @extend .mid-gray;
        }

        .high-price {
            position: absolute;
            top: -1rem;
            left: 0.5rem;
            background-color: var(--primary-1);

            .star {
                background-color: var(--tertiary-1);
                clip-path: polygon(
                    50% 0%,
                    61% 35%,
                    98% 35%,
                    68% 57%,
                    79% 91%,
                    50% 70%,
                    21% 91%,
                    32% 57%,
                    2% 35%,
                    39% 35%
                );
            }
        }
    }
}
