* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Arial Rounded MT Bold";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&#body {
		background-color: var(--primary-2);
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
	font-family: "FinkHeavyWeb";
	src: url("./fonts/FinkHeavy.otf");
}

.fink {
	font-family: "FinkHeavyWeb";
	letter-spacing: 0.1em;
	-webkit-text-fill-color: var(--primary-1);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--secondary-2);
}

.primary-label {
	@extend .primary-1;
	@extend .nowrap;
}
